body{
    background-color: rgb(220, 247, 229);
    background-image: linear-gradient(to right, #ffffff, #B03060);
    margin-top: 150px;
    width: 100%;
    margin: auto;
    padding: 0;
    text-transform: uppercase;

}

 .Tela-p{
    margin: 0;
    text-align: center;
    padding: 100px;
    background-image: linear-gradient(#fff);
    font-family: Montserrat, sans-serif;
}

.Form{
    background-image: linear-gradient(to right, #ffffff, #FFB6C1);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}

.Title{
    
    background-image: linear-gradient(to right, #ffffff,#FFB6C1);   
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
    font-family: Montserrat, sans-serif;
    margin: 25px ;
    padding: 50px 80px;
    color: black;
    

}

button{  
    background:#B03060;
    cursor: pointer;
    box-shadow: none;
    height: 25px;
    width: 80px;
    margin: 5px;
    font-size: 13px;
    border-radius: 10%;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

input{
    height: 15px;
    padding: 10px;
    border: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

